.ajustes-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 91%;
    background-color: var(--fondo-color);
    border-radius: var(--border-radius-2xl) var(--border-radius-2xl) 0 0;
    overflow: hidden;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
    z-index: 3;

    .titulo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: var(--aux-color);
        padding-top: 25px;
        padding-bottom: 10px;
        padding-inline: 20px;

        p {
            font-size: var(--text-size-3xl);
            font-weight: var(--font-weight-bold);
            color: var(--text-white);
            line-height: 1;
        }

        button {
            width: 40px;
            height: 40px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: var(--text-size-2xl);
            font-weight: var(--font-weight-bold);
            color: var(--text-white);
            border: 1px solid rgb(70, 70, 70);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .ascensor {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 5px;
            background-color: white;
            border-radius: var(--border-radius-2xl);
        }
    }
    .opcion.categorias {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding: 7px 15px;
        background: none;
        margin-top: 10px;


        i {
            font-size: var(--text-size-base);
            color: orange;
            min-width: 50px;
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: rgba(255, 166, 0, 0.181);
        }
        p {
            font-size: var(--text-size-xl);
            color: var(--text-white);
            font-weight: var(--font-weight-semibold);
        }
    }
    .opcion.etiquetas {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding: 7px 15px;
        background: none;


        i {
            font-size: var(--text-size-base);
            color: var(--success-color);
            min-width: 50px;
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: rgba(26, 255, 0, 0.145);
        }
        p {
            font-size: var(--text-size-xl);
            color: var(--text-white);
            font-weight: var(--font-weight-semibold);
        }
    }
    .opcion.listas {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding: 7px 15px;
        background: none;


        i {
            font-size: var(--text-size-base);
            color: rgb(0, 140, 255);
            min-width: 50px;
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: rgba(0, 140, 255, 0.145);
        }
        p {
            font-size: var(--text-size-xl);
            color: var(--text-white);
            font-weight: var(--font-weight-semibold);
        }
    }
}