.search-bar{
  background-color: var(--bg-secondary);
  border-radius: 15px;
  padding: 10px 15px;
  display: flex;
}
.search-bar-btn{
  background:none;
  border-radius: 15px;
  border: none;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  svg{
    width: 15px;
    height: 15px;
    font-size: 10px;
  }
}